#page-topbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1002;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);

    .navbar-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto;
        height: 70px;
        padding: 0 calc(24px / 2) 0 0;
    }

    .navbar-brand-box {
        background: #252b3b;
        padding: 0 1.5rem;
        width: 240px;

        .logo {
            line-height: 70px;
        }
    }
}

.vertical-menu {
    background: #252b3b;
    width: 240px;
    z-index: 1001;
    bottom: 0;
    margin-top: 0;
    position: fixed;
    top: 70px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);

    .menu-title {
        padding: 12px 20px !important;
        letter-spacing: .05em;
        pointer-events: none;
        cursor: default;
        font-size: 11px;
        text-transform: uppercase;
        color: #505d69;
        font-weight: 600;
        font-family: Inter, sans-serif;
        opacity: .5;
    }

    .metismenu li {
        display: block;
        width: 100%;
    }

}

#sidebar-menu ul li a {
    display: block;
    padding: 0.625rem 1.5rem;
    color: #74788d;
    position: relative;
    font-size: 15px;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-family: Inter, sans-serif;
    font-weight: 500;

    i {
        color: #8590a5;
        margin-right: 5px;
    }
}
.breadcrumb-item{
    display: flex;
}
.main-content {
    margin-left: 240px;
    overflow: hidden;

    .page-content {
        padding: calc(70px + 24px) calc(24px / 2) 60px calc(24px / 2);
    }
}

.footer {
    bottom: 0;
    padding: 20px calc(24px / 2);
    position: absolute;
    right: 0;
    color: #74788d;
    left: 240px;
    height: 60px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
    background-color: #fff;
}