@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body .btn-all-add-edit {
  background: #252b3b;
  color: #fff;
}

:root {
  --collor-gray: #EFF2F5;
}

p {
  margin: 0;
}

select {
  background: var(--collor-gray);
  border: none;
  border-radius: 4px;
}

button {
  border: none;
}

body .btn-all-add-edit:hover {
  background: #4b5a83;
  color: #fff;
}

textarea {
  resize: none !important;
  padding: 5px !important;
}

a {
  text-decoration: none !important;
}

.focus-0 {
  outline: none;
}

.z-1000 {
  z-index: 1000;
}

.bg-EFF2F5 {
  background: #EFF2F5;
}

.hidden {
  display: none;
}

.custom-cursor-pointer {
  cursor: pointer;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.hover-200:hover {
  background-color: #edf2f7;
}

.bg-red-100 {
  background-color: #FECDD3;
}

.text-red-700 {
  background-color: #FECDD3;
}

.bg-blue-500 {
  background-color: #4299e1;
}

.hover-bg-blue-600:hover {
  background-color: #2c5282;
}

.text-xs {
  font-size: 0.75rem;
}

.text-gray-600 {
  color: #4a5568;
}

.text-sm {
  font-size: 0.875rem;
}

.font-semibold {
  font-weight: 600;
}

.font-extrabold {
  font-weight: 800;
}

.wrapper_customs {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #F1F2F5;
}
.wrapper_customs .wrapper_2 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  width: 100%;
  max-width: 1600px;
  margin-top: 56px;
  height: calc(100% - 56px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

#loadMore.noContent {
  display: none;
}

#loadMoreRepComment {
  display: block;
}

#loadMoreRepComment.noContent {
  display: none;
}

#Mainnav {
  position: fixed;
  z-index: 50;
  width: 100%;
  display: flex;
  align-items: center;
  height: 56px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e2e8f0;
}
#Mainnav a.text_name {
  padding-left: 0.75rem;
  padding-left: 1.5rem;
  min-width: 55px;
}
#Mainnav #Navleft {
  display: flex;
  align-items: center;
  background-color: #EFF2F5;
  border-radius: 9999px;
  justify-content: flex-start;
  width: 260px;
}
#Mainnav #Navleft:last-child {
  order: 1;
}
#Mainnav #Navleft input.search[type=text] {
  display: none;
  border: none;
  padding: 0;
  background-color: #EFF2F5;
}
#Mainnav #Navleft input.search[type=text]:focus {
  outline: none;
}
@media (min-width: 768px) {
  #Mainnav #Navleft input.search[type=text] {
    display: block;
  }
}
#Mainnav #Navleft input.search[type=text]::-moz-placeholder {
  color: #64676B;
}
#Mainnav #Navleft input.search[type=text]::placeholder {
  color: #64676B;
}
#Mainnav #Navleft input.search[type=text]:focus {
  box-shadow: none;
}
#Mainnav #NavCenter {
  display: none;
  align-items: center;
  margin-left: 1.25rem;
  /* 1.25rem là giá trị tương đương với 20px */
  justify-content: center;
  width: 66.66667%;
  /* Tương đương với w-8/12 */
  max-width: 600px;
  /* max-w-[600px] */
}
#Mainnav #NavCenter .item-active {
  border-bottom: 4px solid blue;
}
@media (min-width: 1024px) {
  #Mainnav #NavCenter {
    display: flex;
  }
}
#Mainnav #NavCenter .list_items {
  height: 48px;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 10px;
}
#Mainnav #NavCenter .list_items:hover {
  background-color: #d1d5db;
}
#Mainnav #NavLeft {
  width: 16.66667%;
  margin-right: 1.5rem;
  flex-grow: 3;
}
#Mainnav #NavLeft .nav_left_items {
  padding: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  cursor: pointer;
  border-radius: 10px;
}
#Mainnav #NavLeft .nav_left_items:hover {
  background-color: #d1d5db;
}
#Mainnav #NavLeft .show_menu {
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  top: 55px;
  right: 0;
  width: 300px;
  border-radius: 0.5rem;
  padding: 0.25rem;
  border: 1px solid #e2e8f0;
  margin-top: 0.25rem;
}
#Mainnav #NavLeft .show_menu .menu_item {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
#Mainnav #NavLeft .show_menu .menu_item:hover {
  background-color: #e2e8f0;
}
#Mainnav #NavLeft .show_menu a {
  color: #64676B;
  cursor: pointer;
}
#Mainnav img.custom {
  border-radius: 9999px;
  margin-left: 0.25rem;
  min-width: 40px;
  max-height: 40px;
  cursor: pointer;
}

#LeftSection {
  display: none;
}
@media (min-width: 1280px) {
  #LeftSection {
    width: 300px;
  }
}
@media (min-width: 1024px) {
  #LeftSection {
    display: block;
  }
}
#LeftSection .leffsidebar_lists {
  padding-top: 1rem;
  max-width: 320px;
  padding-right: 1rem;
}
#LeftSection .leffsidebar_lists .left-item {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.375rem;
}
#LeftSection .leffsidebar_lists .left-item:hover {
  background-color: #E5E6E9;
}
#LeftSection .leffsidebar_lists img.img-cus {
  border-radius: 9999px;
  margin-left: 0.25rem;
  min-width: 38px;
  max-height: 38px;
}
#LeftSection .leffsidebar_lists .text-profile {
  font-size: 15px;
  color: #1f2933;
  font-weight: 800;
  padding-left: 0.75rem;
}
#LeftSection .leffsidebar_lists .text-items {
  font-size: 15px;
  color: #2d3748;
  font-weight: 800;
  padding-left: 0.75rem;
}

#RightSection {
  padding-left: 1rem;
  display: none;
}
@media (min-width: 768px) {
  #RightSection {
    display: block;
  }
}
#RightSection .rightsection_cus {
  max-width: 340px;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}
#RightSection .rightsection_cus .icon-right {
  padding: 0.5rem;
  border-radius: 9999px;
  cursor: pointer;
}
#RightSection .rightsection_cus .icon-right:hover {
  background-color: #d1d5db;
  /* Giả sử bạn muốn sử dụng màu xám khi hover */
}
#RightSection .rightsection_cus .list_friends {
  height: calc(100vh - 115px);
  overflow: auto;
  padding-top: 0.5rem;
}
#RightSection .rightsection_cus .list_friends .friend_pr {
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
}
#RightSection .rightsection_cus .list_friends .friend_pr:hover {
  background-color: #e5e6e9;
}
#RightSection .rightsection_cus .list_friends .friend_pr img {
  border-radius: 9999px;
  margin-left: 0.25rem;
  min-width: 38px;
  max-height: 38px;
}
#RightSection .rightsection_cus .list_friends .friend_pr .text-pr {
  font-size: 15px;
  color: #2d3748;
  font-weight: 800;
  padding-left: 0.75rem;
}

#PostsSection {
  grid-row: span 6;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
#PostsSection::-webkit-scrollbar {
  display: none;
}
@media (min-width: 1024px) {
  #PostsSection {
    margin-left: 0;
  }
}

#CreatePostBox {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#CreatePostBox img.img-pr {
  border-radius: 9999px;
  margin-right: 0.25rem;
  min-width: 36px;
  max-height: 36px;
}
#CreatePostBox .icon-cus {
  border-radius: 0.375rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  cursor: pointer;
}
#CreatePostBox .icon-cus:hover {
  background-color: #f2f2f2;
}
#CreatePostBox .icon-cus .text-cus {
  color: #6f7275;
  font-weight: bold;
  font-size: 0.8rem;
}

#post {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#post #Edit-posts {
  position: relative;
}
#post .ellipsis {
  font-size: 1.5rem;
  cursor: pointer;
  color: #6f7275;
}
#post .edit-post {
  position: absolute;
  right: 0;
  z-index: 9999;
  color: #222;
  min-width: 300px;
  padding: 10px;
  background-color: white;
  font-weight: 800;
  border-radius: 10px 0 10px 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#post .edit-post ul {
  list-style: none;
  padding: 0;
}
#post .edit-post ul li {
  padding: 10px;
  border-bottom: 1px solid #64676B;
  border-radius: 10px;
  transition: 0.1s;
  cursor: pointer;
}
#post .edit-post ul li:hover {
  background-color: #64676B;
}
#post img.img-cus {
  border-radius: 9999px;
  margin-left: 0.25rem;
  min-width: 36px;
  max-height: 36px;
}
#post .text-pr {
  font-weight: 800;
  font-size: 15px;
}
#post .text-cus-pos {
  font-size: 17px;
  font-weight: 600;
}
#post #Comments {
  max-height: 120px;
  overflow: auto;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#post #Comments .img-cus {
  min-width: 36px;
  max-height: 36px;
}
#post #Comments #CreateComment .img-cus {
  min-width: 30px;
  max-height: 30px;
}
#post #Comment {
  width: 90%;
}
#post #Comment .box-comment-cus {
  border-radius: 5px;
  padding: 10px;
}
#post #Comment .box-comment-cus #bottom-cus {
  width: 100%;
  display: flex;
  gap: 10px;
  font-size: 14px;
  margin-left: 64px;
  color: rgba(74, 85, 104, 0.7725490196);
  font-weight: 500;
}
#post .cus-post-media {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
#post .cus-post-media .list_item_media img {
  border-radius: 10px;
}

#MediaDisplay {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
#MediaDisplay .imagedisplay_close {
  position: absolute;
  right: 0;
  padding: 0.25rem;
  margin: 0.75rem;
  background-color: #E5E7EB;
  border-radius: 9999px;
  cursor: pointer;
}
#MediaDisplay .media_display {
  display: grid;
  height: 100vh;
  place-items: center;
}
#MediaDisplay .media_display .displ {
  height: 100vh;
  padding: 2.5rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

#CreatePostOverlay {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#CreatePostOverlay .wrapper_crpost {
  display: grid;
  height: 100vh;
  place-items: center;
  padding: 1rem;
  overflow: scroll;
}
#CreatePostOverlay .wrapper_crpost .crpost {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 0.75rem;
  background-color: #fff;
}
#CreatePostOverlay .wrapper_crpost .crpost .close {
  padding: 0.375rem;
  background-color: #edf2f7;
  right: 0.75rem;
}
#CreatePostOverlay .wrapper_crpost .crpost .close:hover {
  background-color: #a0aec0;
}
#CreatePostOverlay .wrapper_crpost .crpost .img-cus {
  margin-left: 0.25rem;
  min-width: 45px;
  max-height: 45px;
}
#CreatePostOverlay .wrapper_crpost .crpost .pri {
  background-color: #edf2f7;
  padding: 0.125rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#CreatePostOverlay .wrapper_crpost .crpost .pri .text-cus {
  padding-left: 0.375rem;
  font-size: 13px;
}
#CreatePostOverlay .wrapper_crpost .crpost .text-ar {
  max-height: 350px;
  overflow-y: auto;
}
#CreatePostOverlay .wrapper_crpost .crpost .text-ar textarea {
  border: none;
  font-size: 22px;
  margin-top: 1rem;
  min-height: 30px;
}
#CreatePostOverlay .wrapper_crpost .crpost .text-ar textarea:focus {
  outline: none;
}
#CreatePostOverlay .wrapper_crpost .crpost .cus-img-dis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
