@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-main) !important;
}

body .btn-all-add-edit {
  background: #252b3b;
  color: #fff;
}

:root {
  --collor-gray: #EFF2F5;
  --primary-text: #E4E6EB;
  --bg-main: #18191a;
  --bg-item: #242526;
  --bg-nav: #242526;
  --secondary-text: #B0B3B8;
  --bg-input: #3a3b3c;
  --border-collor: #3b3838;
}

.no-click {
  cursor: not-allowed !important;
  pointer-events: none;
}

.clickable {
  pointer-events: auto;
  /* Cho phép các sự kiện trỏ chuột */
  cursor: pointer;
  /* Thay đổi con trỏ chuột thành biểu tượng chỉ tay */
}

p {
  margin: 0;
}

select {
  background: var(--collor-gray);
  border: none;
  border-radius: 4px;
}

button {
  border: none;
}

body .btn-all-add-edit:hover {
  background: #4b5a83;
  color: #fff;
}

.border-bottom-cus {
  border-bottom: 1px solid var(--border-collor);
}

.border-top-cus {
  border-top: 1px solid var(--border-collor);
}

textarea {
  resize: none !important;
  padding: 5px !important;
}

a {
  text-decoration: none !important;
}

.focus-0 {
  outline: none;
}

.z-1000 {
  z-index: 1000;
}

.text-underline {
  text-decoration: underline;
}

.bg-input {
  background: var(--bg-input);
}

.bg-item {
  background: var(--bg-item);
}

.bg-transparent {
  background: transparent;
}

.primary-text {
  color: var(--primary-text);
}

.secondary-text {
  color: var(--secondary-text);
}

.hidden {
  display: none;
}

.custom-cursor-pointer {
  cursor: pointer;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.hover-200:hover {
  background-color: var(--bg-input);
}

.bg-red-100 {
  background-color: #FECDD3;
}

.text-red-700 {
  background-color: #FECDD3;
}

.bg-blue-500 {
  background-color: #4299e1;
}

.hover-bg-blue-600:hover {
  background-color: #2c5282;
}

.text-xs {
  font-size: 0.75rem;
}

.text-gray-600 {
  color: var(--secondary-text);
}

.text-sm {
  font-size: 0.875rem;
}

.text-m {
  color: var(--secondary-text);
}

.font-semibold {
  font-weight: 600;
}

.font-extrabold {
  font-weight: 800;
}

.custom-loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.wrapper_customs {
  padding-top: 10px;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-main);
}
.wrapper_customs .wrapper_2 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  width: 100%;
  max-width: 1600px;
  margin-top: 56px;
  height: calc(100% - 56px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

#loadMore.noContent {
  display: none;
}

#loadMoreRepComment {
  display: block;
}

#loadMoreRepComment.noContent {
  display: none;
}

#Mainnav {
  position: fixed;
  z-index: 50;
  width: 100%;
  display: flex;
  align-items: center;
  height: 56px;
  background-color: var(--bg-nav);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#Mainnav a.text_name {
  padding-left: 0.75rem;
  padding-left: 1.5rem;
  min-width: 55px;
}
#Mainnav a.text_name img.Logo {
  background: #fff;
  border-radius: 100%;
}
#Mainnav #Navleft {
  display: flex;
  align-items: center;
  background-color: var(--bg-input);
  border-radius: 9999px;
  justify-content: flex-start;
  width: 260px;
}
#Mainnav #Navleft:last-child {
  order: 1;
}
#Mainnav #Navleft input.search[type=text] {
  display: none;
  border: none;
  color: var(--primary-text);
  padding: 0;
  background-color: transparent;
}
#Mainnav #Navleft input.search[type=text]:focus {
  outline: none;
}
@media (min-width: 768px) {
  #Mainnav #Navleft input.search[type=text] {
    display: block;
  }
}
#Mainnav #Navleft input.search[type=text]::-moz-placeholder {
  color: var(--secondary-text);
}
#Mainnav #Navleft input.search[type=text]::placeholder {
  color: var(--secondary-text);
}
#Mainnav #Navleft input.search[type=text]:focus {
  box-shadow: none;
}
#Mainnav #NavCenter {
  display: none;
  align-items: center;
  margin-left: 1.25rem;
  /* 1.25rem là giá trị tương đương với 20px */
  justify-content: center;
  width: 66.66667%;
  /* Tương đương với w-8/12 */
  max-width: 600px;
  /* max-w-[600px] */
}
#Mainnav #NavCenter .item-active {
  border-bottom: 4px solid blue;
}
@media (min-width: 1024px) {
  #Mainnav #NavCenter {
    display: flex;
  }
}
#Mainnav #NavCenter .list_items {
  height: 48px;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 10px;
}
#Mainnav #NavCenter .list_items:hover {
  background-color: var(--bg-input);
}
#Mainnav #NavLeft {
  width: 16.66667%;
  margin-right: 1.5rem;
  flex-grow: 3;
}
#Mainnav #NavLeft .nav_left_items {
  padding: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  cursor: pointer;
  border-radius: 10px;
}
#Mainnav #NavLeft .nav_left_items:hover {
  background-color: var(--bg-input);
}
#Mainnav #NavLeft .show_menu {
  background-color: var(--bg-item);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  top: 55px;
  right: 0;
  width: 300px;
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin-top: 0.25rem;
}
#Mainnav #NavLeft .show_menu .menu_item {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
#Mainnav #NavLeft .show_menu .menu_item:hover {
  background-color: var(--bg-input);
}
#Mainnav #NavLeft .show_menu a {
  color: var(--primary-text);
  cursor: pointer;
}
#Mainnav img.custom {
  border-radius: 9999px;
  margin-left: 0.25rem;
  min-width: 40px;
  max-height: 40px;
  cursor: pointer;
}

#LeftSection {
  display: none;
  background: transparent;
  color: var(--primary-text);
  border: none;
}
@media (min-width: 1280px) {
  #LeftSection {
    width: 300px;
  }
}
@media (min-width: 1024px) {
  #LeftSection {
    display: block;
  }
}
#LeftSection .leffsidebar_lists {
  padding-top: 1rem;
  max-width: 320px;
  padding-right: 1rem;
}
#LeftSection .leffsidebar_lists .left-item {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.375rem;
}
#LeftSection .leffsidebar_lists .left-item:hover {
  background-color: var(--bg-input);
}
#LeftSection .leffsidebar_lists img.img-cus {
  border-radius: 9999px;
  margin-left: 0.25rem;
  min-width: 38px;
  max-height: 38px;
}
#LeftSection .leffsidebar_lists .text-profile {
  font-size: 15px;
  font-weight: 800;
  padding-left: 0.75rem;
  color: var(--primary-text);
}
#LeftSection .leffsidebar_lists .text-items {
  font-size: 15px;
  font-weight: 800;
  padding-left: 0.75rem;
  color: var(--primary-text);
}

#RightSection {
  padding-left: 1rem;
  display: none;
  background: transparent;
}
@media (min-width: 768px) {
  #RightSection {
    display: block;
  }
}
#RightSection .rightsection_cus {
  max-width: 340px;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}
#RightSection .rightsection_cus .icon-right {
  padding: 0.5rem;
  border-radius: 9999px;
  cursor: pointer;
}
#RightSection .rightsection_cus .icon-right:hover {
  background-color: var(--bg-input);
}
#RightSection .rightsection_cus .list_friends {
  height: calc(100vh - 115px);
  overflow: auto;
  padding-top: 0.5rem;
}
#RightSection .rightsection_cus .list_friends .friend_pr {
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
}
#RightSection .rightsection_cus .list_friends .friend_pr:hover {
  background-color: var(--bg-input);
}
#RightSection .rightsection_cus .list_friends .friend_pr img {
  border-radius: 9999px;
  margin-left: 0.25rem;
  min-width: 38px;
  max-height: 38px;
}
#RightSection .rightsection_cus .list_friends .friend_pr .text-pr {
  font-size: 15px;
  font-weight: 800;
  padding-left: 0.75rem;
}

#PostsSection {
  grid-row: span 6;
  max-width: 600px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
#PostsSection::-webkit-scrollbar {
  display: none;
}
@media (min-width: 1024px) {
  #PostsSection {
    margin-left: 0;
  }
}

.createFile_ {
  max-width: 500px;
  max-height: 100px;
  margin-top: 45px;
}

#CreatePostBox {
  width: 100%;
  background-color: var(--bg-item);
  border-radius: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#CreatePostBox img.img-pr {
  border-radius: 9999px;
  margin-right: 0.25rem;
  min-width: 36px;
  max-height: 36px;
}
#CreatePostBox .icon-cus {
  border-radius: 0.375rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  background: transparent;
  cursor: pointer;
  color: var(--secondary-text);
}
#CreatePostBox .icon-cus:hover {
  background-color: var(--bg-input);
}
#CreatePostBox .icon-cus .text-cus {
  color: #6f7275;
  font-weight: bold;
  font-size: 0.8rem;
}

#post {
  width: 100%;
  background-color: var(--bg-item);
  border-radius: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}
#post .iframePost {
  padding: 20px;
}
#post #Edit-posts {
  position: relative;
}
#post .ellipsis {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--secondary-text);
}
#post .edit-post {
  position: absolute;
  right: 10px;
  z-index: 9999;
  color: var(--primary-text);
  min-width: 300px;
  padding: 10px;
  background-color: var(--bg-item);
  font-weight: 800;
  border-radius: 10px 0 10px 10px;
}
#post .edit-post ul {
  list-style: none;
  padding: 0;
}
#post .edit-post ul li {
  padding: 10px;
  border-bottom: 1px solid #64676B;
  transition: 0.1s;
  cursor: pointer;
}
#post .edit-post ul li:hover {
  background-color: var(--bg-input);
}
#post img.img-cus {
  border-radius: 9999px;
  margin-left: 0.25rem;
  min-width: 36px;
  max-height: 36px;
}
#post .text-pr {
  font-weight: 800;
  font-size: 15px;
  color: var(--primary-text);
}
#post .text-cus-pos {
  color: var(--primary-text);
  font-size: 17px;
  font-weight: 600;
}
#post a.custom-span {
  font-size: 17px;
  color: var(--primary-text);
  font-weight: 600;
}
#post a.custom-span:hover {
  text-decoration: underline !important;
}
#post #Comments {
  max-height: 120px;
  overflow: auto;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#post #Comments .img-cus {
  min-width: 36px;
  max-height: 36px;
}
#post #Comments #CreateComment .img-cus {
  min-width: 30px;
  max-height: 30px;
}
#post #Comment {
  width: 90%;
}
#post #Comment .box-comment-cus {
  border-radius: 5px;
  padding: 10px;
}
#post #Comment .box-comment-cus #bottom-cus {
  width: 100%;
  display: flex;
  gap: 10px;
  font-size: 14px;
  margin-left: 64px;
  color: rgba(74, 85, 104, 0.7725490196);
  font-weight: 500;
}
#post #Comment .box-comment-cus .box-comment-cus_3 {
  position: relative;
}
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_comment,
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_repcomment {
  position: absolute;
  top: 0;
  right: 40px;
  padding: 10px 0;
  width: 30%;
  text-align: center;
  background: var(--bg-input);
  border-radius: 10px;
}
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_comment ul,
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_repcomment ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_comment ul::after,
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_repcomment ul::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 20%;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--bg-input) transparent transparent;
  width: 0;
  height: 0;
}
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_comment ul li,
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_repcomment ul li {
  transition: 0.1s;
  margin-bottom: 10px;
  color: var(--primary-text);
}
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_comment ul li:last-child,
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_repcomment ul li:last-child {
  margin-bottom: 0;
}
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_comment ul li:hover,
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_repcomment ul li:hover {
  cursor: pointer;
  color: var(--secondary-text);
}
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_repcomment {
  right: 20px;
}
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_repcomment ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_repcomment ul::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 20%;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--bg-input) transparent transparent;
  width: 0;
  height: 0;
}
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_repcomment ul li {
  padding: 0 10px;
  transition: 0.1s;
  margin-bottom: 10px;
}
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_repcomment ul li:last-child {
  margin: 0;
}
#post #Comment .box-comment-cus .box-comment-cus_3 .edit_repcomment ul li:hover {
  cursor: pointer;
  color: var(--secondary-text);
}
#post .suggestions {
  width: 100%;
  padding: 10px;
  margin: 0;
  list-style: none;
  background: var(--bg-input);
  top: 55px;
  left: -40px;
  z-index: 2;
}
#post .suggestions li {
  padding: 10px;
}
#post .suggestions li:hover {
  background: rgba(255, 255, 255, 0.1647058824);
  cursor: pointer;
}
#post .suggestions li a {
  display: block;
}
#post .cus-post-media {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
#post .cus-post-media .list_item_media img {
  border-radius: 10px;
}
#post .cus-post-media .list_item_media video {
  max-height: 400px;
}

#MediaDisplay {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
#MediaDisplay .imagedisplay_close {
  position: absolute;
  right: 0;
  padding: 0.25rem;
  margin: 0.75rem;
  background-color: #E5E7EB;
  border-radius: 9999px;
  cursor: pointer;
}
#MediaDisplay .media_display {
  display: grid;
  height: 100vh;
  place-items: center;
}
#MediaDisplay .media_display .displ {
  height: 100vh;
  padding: 2.5rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

#CreatePostOverlay {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#CreatePostOverlay .wrapper_crpost {
  display: grid;
  height: 100vh;
  place-items: center;
  padding: 1rem;
  overflow: scroll;
}
#CreatePostOverlay .wrapper_crpost .crpost {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 0.75rem;
  background-color: var(--bg-item);
}
#CreatePostOverlay .wrapper_crpost .crpost .close {
  padding: 0.375rem;
  background-color: var(--bg-item);
  right: 0.75rem;
}
#CreatePostOverlay .wrapper_crpost .crpost .close:hover {
  background-color: var(--bg-input);
}
#CreatePostOverlay .wrapper_crpost .crpost .img-cus {
  margin-left: 0.25rem;
  min-width: 45px;
  max-height: 45px;
}
#CreatePostOverlay .wrapper_crpost .crpost .pri {
  background-color: #edf2f7;
  padding: 0.125rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#CreatePostOverlay .wrapper_crpost .crpost .pri .text-cus {
  padding-left: 0.375rem;
  font-size: 13px;
}
#CreatePostOverlay .wrapper_crpost .crpost .text-ar {
  max-height: 250px;
  overflow-y: auto;
}
#CreatePostOverlay .wrapper_crpost .crpost .text-ar textarea {
  border: none;
  font-size: 22px;
  margin-top: 1rem;
  min-height: 30px;
  color: var(--primary-text);
}
#CreatePostOverlay .wrapper_crpost .crpost .text-ar textarea:focus {
  outline: none;
}
#CreatePostOverlay .wrapper_crpost .crpost .cus-img-dis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#ProfileUser {
  padding-top: 56px;
}
#ProfileUser .card {
  border: none;
  background: transparent;
}
#ProfileUser .card .card-title {
  color: var(--primary-text);
}
#ProfileUser .card .card-header {
  border: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
#ProfileUser .card .card-header .card-actions a {
  color: var(--secondary-text);
}
#ProfileUser .card .card-header .card-actions .dropdown-menu {
  right: 0;
  left: inherit;
  background: var(--bg-item);
}
#ProfileUser .card .card-header .card-actions .dropdown-menu a:hover {
  background: var(--bg-input);
}
#ProfileUser .card .card-body ul.list-unstyled li {
  color: var(--primary-text);
}
#ProfileUser .card .card-body .media-body {
  color: var(--primary-text);
}
#ProfileUser .card .card-body .media-body small {
  color: var(--secondary-text);
}
#ProfileUser .card .card-body .media-body strong {
  color: var(--primary-text);
}
#ProfileUser #LeftProfile {
  max-height: 100vh;
  overflow-y: auto;
  background: var(--bg-item);
}
#ProfileUser #LeftProfile #CoverImage {
  max-height: 100px;
  height: 100px;
  width: 100%;
  max-width: 100%;
}
#ProfileUser #LeftProfile #CoverImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#ProfileUser #Centerprofile {
  max-height: 100vh;
  overflow: auto;
}
#ProfileUser #RightProfile {
  max-height: 100vh;
  overflow: auto;
  background: var(--bg-item);
}
#ProfileUser #RightProfile .card {
  background: transparent;
  border: none;
}
#ProfileUser #LeftProfile::-webkit-scrollbar {
  display: none;
}
#ProfileUser #Centerprofile::-webkit-scrollbar {
  display: none;
}
#ProfileUser #RightProfile::-webkit-scrollbar {
  display: none;
}
#ProfileUser #LeftProfile::-moz-scrollbar {
  display: none;
}
#ProfileUser #Centerprofile::-moz-scrollbar {
  display: none;
}
#ProfileUser #RightProfile::-moz-scrollbar {
  display: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e5e9f2;
  border-radius: 0.2rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
}

.card-subtitle,
.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  color: inherit;
}

.card-header:first-child {
  border-radius: calc(0.2rem - 1px) calc(0.2rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border-top: 1px solid #e5e9f2;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.2rem - 1px) calc(0.2rem - 1px);
}

.card-header-tabs {
  margin-bottom: -0.75rem;
  border-bottom: 0;
}

.card-header-pills,
.card-header-tabs {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.2rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.2rem - 1px);
  border-top-right-radius: calc(0.2rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.2rem - 1px);
  border-bottom-left-radius: calc(0.2rem - 1px);
}

.card-deck {
  display: flex;
  flex-direction: column;
}

.card-deck .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-deck {
    flex-flow: row wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
  .card-deck .card {
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    margin-right: 0.75rem;
    margin-bottom: 0;
    margin-left: 0.75rem;
  }
}
.card-group {
  display: flex;
  flex-direction: column;
}

.card-group > .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-group {
    flex-flow: row wrap;
  }
  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:first-child .card-header,
  .card-group > .card:first-child .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group > .card:first-child .card-footer,
  .card-group > .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:last-child .card-header,
  .card-group > .card:last-child .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group > .card:last-child .card-footer,
  .card-group > .card:last-child .card-img-bottom {
    border-bottom-left-radius: 0;
  }
  .card-group > .card:only-child {
    border-radius: 0.2rem;
  }
  .card-group > .card:only-child .card-header,
  .card-group > .card:only-child .card-img-top {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
  }
  .card-group > .card:only-child .card-footer,
  .card-group > .card:only-child .card-img-bottom {
    border-bottom-right-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
  }
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child),
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top {
    border-radius: 0;
  }
}
.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -moz-column-count: 3;
         column-count: 3;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}
.btn-group-sm > .btn,
.btn-sm {
  margin-right: 3px;
}

#RepoParent {
  padding-top: 56px;
}
#RepoParent .left-item {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.375rem;
}
