@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-main) !important;
}

body .btn-all-add-edit {
  background: #252b3b;
  color: #fff;
}

:root {
  --collor-gray: #EFF2F5;
  --primary-text: #E4E6EB;
  --bg-main: #18191a;
  --bg-item: #242526;
  --bg-nav: #242526;
  --secondary-text: #B0B3B8;
  --bg-input: #3a3b3c;
  --border-collor: #3b3838;
  --bg-blue: #2906ee;
  --bg-blur: #ffffff2d;
}

.hover-span {
  border-radius: 10px;
}
.hover-span:hover {
  background: var(--bg-input);
}

.dropdown-menu {
  right: 0;
  left: inherit;
  background: var(--bg-item) !important;
}
.dropdown-menu a:hover {
  background: var(--bg-input) !important;
  color: var(--primary-text);
}
.dropdown-menu a {
  color: var(--secondary-text);
}

.no-click {
  cursor: not-allowed !important;
  filter: opacity(0.5);
}

.no-click-event {
  cursor: not-allowed !important;
  filter: opacity(0.5);
  pointer-events: none;
}

.clickable {
  pointer-events: auto;
  cursor: pointer;
}

.rounded-full {
  border-radius: 50% !important;
}

p {
  margin: 0;
}

select {
  background: var(--collor-gray);
  border: none;
  border-radius: 4px;
}

button {
  border: none;
}

body .btn-all-add-edit:hover {
  background: #4b5a83;
  color: #fff;
}

.border-bottom-cus {
  border-bottom: 1px solid var(--border-collor);
}

.border-top-cus {
  border-top: 1px solid var(--border-collor);
}

textarea {
  resize: none !important;
  padding: 5px !important;
}

a {
  text-decoration: none !important;
}

.focus-0 {
  outline: none;
}

.z-1000 {
  z-index: 1000;
}

.text-underline {
  text-decoration: underline;
}

.bg-input {
  background: var(--bg-input);
}

.bg-item {
  background: var(--bg-item);
}

.bg-transparent {
  background: transparent;
}

.primary-text {
  color: var(--primary-text);
}

.blue-color {
  color: #2906ee;
}

.secondary-text {
  color: var(--secondary-text);
}

.hidden {
  display: none;
}

.custom-cursor-pointer {
  cursor: pointer;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.hover-200:hover {
  background-color: var(--bg-input);
}

.bg-red-100 {
  background-color: #FECDD3;
}

.text-red-700 {
  background-color: #FECDD3;
}

.bg-blue-500 {
  background-color: #4299e1;
}

.hover-bg-blue-600:hover {
  background-color: #2c5282;
}

.text-xs {
  font-size: 0.75rem;
}

.text-gray-600 {
  color: var(--secondary-text);
}

.text-sm {
  font-size: 0.875rem;
}

.text-m {
  color: var(--secondary-text);
}

.font-semibold {
  font-weight: 600;
}

.font-extrabold {
  font-weight: 800;
}

.custom-loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

a.custom-span {
  font-size: 17px;
  color: var(--primary-text);
  font-weight: 600;
}
a.custom-span:hover {
  text-decoration: underline !important;
}

img.custom {
  border-radius: 9999px;
  margin-left: 0.25rem;
  min-width: 40px;
  max-height: 40px;
  cursor: pointer;
}

.dot-status {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  top: 30px;
}
.dot-status.online {
  background-color: #31a24c;
  border: 2px solid var(--bg-item);
}
.dot-status.offline {
  display: none;
}

.wrapper_customs {
  padding-top: 10px;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-main);
}
.wrapper_customs .wrapper_2 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  width: 100%;
  max-width: 1600px;
  margin-top: 56px;
  height: calc(100% - 56px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

#loadMore.noContent {
  display: none;
}

#loadMoreRepComment {
  display: block;
}

#loadMoreRepComment.noContent {
  display: none;
}

.login_register {
  background: var(--bg-item);
  color: var(--primary-text);
}
.login_register h4 {
  color: var(--primary-text);
}
.login_register label {
  color: var(--primary-text);
}
.login_register input {
  background: var(--bg-input) !important;
  color: var(--primary-text) !important;
}
.login_register input::-moz-placeholder {
  color: var(--primary-text) !important;
}
.login_register input::placeholder {
  color: var(--primary-text) !important;
}
.login_register input:focus {
  background: var(--bg-main) !important;
}
.login_register i {
  color: var(--primary-text) !important;
}

#Mainnav {
  position: fixed;
  z-index: 40;
  width: 100%;
  display: flex;
  align-items: center;
  height: 56px;
  background-color: var(--bg-nav);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#Mainnav a.text_name {
  padding-left: 0.75rem;
  padding-left: 1.5rem;
  min-width: 55px;
}
#Mainnav a.text_name img.Logo {
  background: #fff;
  border-radius: 100%;
}
#Mainnav #Navleft {
  display: flex;
  align-items: center;
  background-color: var(--bg-input);
  border-radius: 9999px;
  justify-content: flex-start;
  width: 260px;
}
#Mainnav #Navleft:last-child {
  order: 1;
}
#Mainnav #Navleft input.search[type=text] {
  display: none;
  border: none;
  color: var(--primary-text);
  padding: 0;
  background-color: transparent;
}
#Mainnav #Navleft input.search[type=text]:focus {
  outline: none;
}
@media (min-width: 768px) {
  #Mainnav #Navleft input.search[type=text] {
    display: block;
  }
}
#Mainnav #Navleft input.search[type=text]::-moz-placeholder {
  color: var(--secondary-text);
}
#Mainnav #Navleft input.search[type=text]::placeholder {
  color: var(--secondary-text);
}
#Mainnav #Navleft input.search[type=text]:focus {
  box-shadow: none;
}
#Mainnav #NavCenter {
  display: none;
  align-items: center;
  margin-left: 1.25rem;
  /* 1.25rem là giá trị tương đương với 20px */
  justify-content: center;
  width: 66.66667%;
  /* Tương đương với w-8/12 */
  max-width: 600px;
  /* max-w-[600px] */
}
#Mainnav #NavCenter .item-active {
  border-bottom: 4px solid blue;
}
@media (min-width: 1024px) {
  #Mainnav #NavCenter {
    display: flex;
  }
}
#Mainnav #NavCenter .list_items {
  height: 48px;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 10px;
}
#Mainnav #NavCenter .list_items:hover {
  background-color: var(--bg-input);
}
#Mainnav #NavLeft {
  width: 16.66667%;
  margin-right: 1.5rem;
  flex-grow: 3;
}
#Mainnav #NavLeft .nav_left_items {
  padding: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  cursor: pointer;
  border-radius: 10px;
}
#Mainnav #NavLeft .nav_left_items:hover {
  background-color: var(--bg-input);
}
#Mainnav #NavLeft .show_menu {
  background-color: var(--bg-item);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  top: 55px;
  right: 0;
  width: 300px;
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin-top: 0.25rem;
}
#Mainnav #NavLeft .show_menu .menu_item {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
#Mainnav #NavLeft .show_menu .menu_item:hover {
  background-color: var(--bg-input);
}
#Mainnav #NavLeft .show_menu a {
  color: var(--primary-text);
  cursor: pointer;
}

#LeftSection {
  display: none;
  background: transparent;
  color: var(--primary-text);
  border: none;
}
@media (min-width: 1280px) {
  #LeftSection {
    width: 300px;
  }
}
@media (min-width: 1024px) {
  #LeftSection {
    display: block;
  }
}
#LeftSection .leffsidebar_lists {
  padding-top: 1rem;
  max-width: 320px;
  padding-right: 1rem;
}
#LeftSection .leffsidebar_lists .left-item {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.375rem;
}
#LeftSection .leffsidebar_lists .left-item:hover {
  background-color: var(--bg-input);
}
#LeftSection .leffsidebar_lists img.img-cus {
  border-radius: 9999px;
  margin-left: 0.25rem;
  min-width: 40px;
  max-height: 40px;
}
#LeftSection .leffsidebar_lists .text-profile {
  font-size: 15px;
  font-weight: 800;
  padding-left: 0.75rem;
  color: var(--primary-text);
}
#LeftSection .leffsidebar_lists .text-items {
  font-size: 15px;
  font-weight: 800;
  padding-left: 0.75rem;
  color: var(--primary-text);
}

#allYourFriends {
  padding-top: 66px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
#allYourFriends .card {
  background: var(--bg-item);
}
#allYourFriends .card h3 {
  color: var(--primary-text);
}
#allYourFriends .card .card-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#allRequestFriends {
  padding-top: 66px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
#allRequestFriends .card {
  background: var(--bg-item);
}
#allRequestFriends .card h3 {
  color: var(--primary-text);
}
#allRequestFriends .card .card-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#FriendSuggestions {
  padding-top: 66px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
#FriendSuggestions .card {
  background: var(--bg-item);
}
#FriendSuggestions .card h3 {
  color: var(--primary-text);
}
#FriendSuggestions .card .card-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#LeftAllFriends {
  padding-top: 1rem;
  max-width: 320px;
  padding-right: 1rem;
  background: var(--bg-main);
  padding-top: 56px;
}
#LeftAllFriends .left-item {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.375rem;
}
#LeftAllFriends .left-item:hover {
  background-color: var(--bg-input);
}
#LeftAllFriends img.img-cus {
  border-radius: 9999px;
  margin-left: 0.25rem;
  min-width: 40px;
  max-height: 40px;
}
#LeftAllFriends .text-profile {
  font-size: 15px;
  font-weight: 800;
  padding-left: 0.75rem;
  color: var(--primary-text);
}
#LeftAllFriends .text-items {
  font-size: 15px;
  font-weight: 800;
  padding-left: 0.75rem;
  color: var(--primary-text);
}

#RightSection {
  padding-left: 1rem;
  display: none;
  background: transparent;
}
@media (min-width: 768px) {
  #RightSection {
    display: block;
  }
}
#RightSection .rightsection_cus {
  max-width: 340px;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}
#RightSection .rightsection_cus .icon-right {
  padding: 0.5rem;
  border-radius: 9999px;
  cursor: pointer;
}
#RightSection .rightsection_cus .icon-right:hover {
  background-color: var(--bg-input);
}
#RightSection .rightsection_cus .list_friends {
  height: calc(100vh - 115px);
  overflow: auto;
  padding-top: 0.5rem;
}
#RightSection .rightsection_cus .list_friends .friend_pr {
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
}
#RightSection .rightsection_cus .list_friends .friend_pr:hover {
  background-color: var(--bg-input);
}
#RightSection .rightsection_cus .list_friends .friend_pr img {
  border-radius: 9999px;
  margin-left: 0.25rem;
  min-width: 40px;
  max-height: 40px;
}
#RightSection .rightsection_cus .list_friends .friend_pr .text-pr {
  font-size: 15px;
  font-weight: 800;
  padding-left: 0.75rem;
}

#PostsSection {
  grid-row: span 6;
  max-width: 600px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
#PostsSection::-webkit-scrollbar {
  display: none;
}
@media (min-width: 1024px) {
  #PostsSection {
    margin-left: 0;
  }
}

.createFile_ {
  max-width: 500px;
  max-height: 100px;
  margin-top: 45px;
}

#CreatePostBox {
  width: 100%;
  background-color: var(--bg-item);
  border-radius: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#CreatePostBox img.img-pr {
  border-radius: 9999px;
  margin-right: 0.25rem;
  min-width: 36px;
  max-height: 36px;
}
#CreatePostBox .icon-cus {
  border-radius: 0.375rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  background: transparent;
  cursor: pointer;
  color: var(--secondary-text);
}
#CreatePostBox .icon-cus:hover {
  background-color: var(--bg-input);
}
#CreatePostBox .icon-cus .text-cus {
  color: #6f7275;
  font-weight: bold;
  font-size: 0.8rem;
}

.count-comment-like-share {
  position: relative;
}
.count-comment-like-share .list-user-like,
.count-comment-like-share .list-user-like-type-like,
.count-comment-like-share .list-user-like-type-heart,
.count-comment-like-share .list-user-like-type-laugh,
.count-comment-like-share .list-user-like-type-sad,
.count-comment-like-share .list-user-like-type-infuriating {
  width: 50%;
  border-radius: 10px;
  background: var(--bg-input);
  position: absolute;
  z-index: 1000;
  top: 30px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}
.count-comment-like-share .list-user-like a,
.count-comment-like-share .list-user-like-type-like a,
.count-comment-like-share .list-user-like-type-heart a,
.count-comment-like-share .list-user-like-type-laugh a,
.count-comment-like-share .list-user-like-type-sad a,
.count-comment-like-share .list-user-like-type-infuriating a {
  font-size: 15px;
  color: var(--secondary-text);
}
.count-comment-like-share .list-user-like a:hover,
.count-comment-like-share .list-user-like-type-like a:hover,
.count-comment-like-share .list-user-like-type-heart a:hover,
.count-comment-like-share .list-user-like-type-laugh a:hover,
.count-comment-like-share .list-user-like-type-sad a:hover,
.count-comment-like-share .list-user-like-type-infuriating a:hover {
  text-decoration: underline !important;
}
.count-comment-like-share .count-like .like-icon {
  margin-left: -10px;
  cursor: pointer;
}
.count-comment-like-share .count-like .like-icon:first-of-type {
  margin-left: 0;
}
.count-comment-like-share .count-like .type-like:hover .list-user-like-type-like {
  opacity: 1;
  visibility: visible;
}
.count-comment-like-share .count-like .type-heart:hover .list-user-like-type-heart {
  opacity: 1;
  visibility: visible;
}
.count-comment-like-share .count-like .type-laugh:hover .list-user-like-type-laugh {
  opacity: 1;
  visibility: visible;
}
.count-comment-like-share .count-like .type-sad:hover .list-user-like-type-sad {
  opacity: 1;
  visibility: visible;
}
.count-comment-like-share .count-like .type-infuriating:hover .list-user-like-type-infuriating {
  opacity: 1;
  visibility: visible;
}
.count-comment-like-share .count-like .count {
  cursor: pointer;
  margin-left: 5px;
}
.count-comment-like-share .count-like .count:hover {
  text-decoration: underline;
}
.count-comment-like-share .count-like .count:hover .list-user-like {
  opacity: 1;
  visibility: visible;
}

.like-tx {
  position: relative;
}
.like-tx:hover {
  background: var(--bg-input);
}
.like-tx .icon-like {
  position: absolute;
  display: flex;
  gap: 20px;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  background: var(--bg-input);
  padding-inline: 20px;
  border-radius: 10px;
  left: -60px;
  top: -45px;
}
.like-tx .icon-like span {
  font-size: 30px;
  transition: transform 0.3s;
}
.like-tx .icon-like span:hover {
  transform: scale(1.5);
}
.like-tx:hover .icon-like {
  opacity: 1;
  visibility: visible;
}

.comment-tx:hover {
  background: var(--bg-input);
}

.share-tx:hover {
  background: var(--bg-input);
}

#post {
  width: 100%;
  background-color: var(--bg-item);
  border-radius: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}
#post .iframePost {
  padding: 20px;
}
#post #Edit-posts {
  position: relative;
}
#post .ellipsis {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--secondary-text);
}
#post .edit-post {
  position: absolute;
  right: 10px;
  z-index: 9999;
  color: var(--primary-text);
  min-width: 300px;
  padding: 10px;
  background-color: var(--bg-item);
  font-weight: 800;
  border-radius: 10px 0 10px 10px;
}
#post .edit-post ul {
  list-style: none;
  padding: 0;
}
#post .edit-post ul li {
  padding: 10px;
  border-bottom: 1px solid #64676B;
  transition: 0.1s;
  cursor: pointer;
}
#post .edit-post ul li:hover {
  background-color: var(--bg-input);
}
#post img.img-cus {
  border-radius: 9999px;
  margin-left: 0.25rem;
  min-width: 40px;
  max-height: 40px;
}
#post .text-pr {
  font-weight: 800;
  font-size: 15px;
  color: var(--primary-text);
}
#post .text-cus-pos {
  color: var(--primary-text);
  font-size: 17px;
  font-weight: 600;
}
#post #Comments {
  max-height: 120px;
  overflow: auto;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#post #Comments .img-cus {
  min-width: 40px;
  max-height: 40px;
}
#post #Comments #CreateComment .img-cus {
  min-width: 40px;
  max-height: 40px;
}
#post #Comment {
  width: 90%;
}

.suggestions {
  width: 100%;
  padding: 10px;
  margin: 0;
  list-style: none;
  background: var(--bg-input);
  top: 55px;
  left: 0;
  z-index: 2000;
}
.suggestions li {
  padding: 10px;
}
.suggestions li:hover {
  background: rgba(255, 255, 255, 0.1647058824);
  cursor: pointer;
}
.suggestions li a {
  display: block;
}

.box-comment-cus {
  border-radius: 5px;
  padding: 10px;
}
.box-comment-cus #bottom-cus {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-left: 64px;
  color: rgba(74, 85, 104, 0.7725490196);
  font-weight: 500;
  cursor: pointer;
}
.box-comment-cus #bottom-cus p:hover {
  text-decoration: underline;
}

.box-comment-cus_3 {
  position: relative;
}
.box-comment-cus_3 .edit_comment {
  padding: 10px 0;
  width: 30%;
  text-align: center;
  background: var(--bg-input);
  border-radius: 10px;
}
.box-comment-cus_3 .edit_comment ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.box-comment-cus_3 .edit_comment ul::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 20%;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--bg-input) transparent transparent;
  width: 0;
  height: 0;
}
.box-comment-cus_3 .edit_comment ul li {
  transition: 0.1s;
  margin-bottom: 10px;
  color: var(--primary-text);
}
.box-comment-cus_3 .edit_comment ul li:last-child {
  margin-bottom: 0;
}
.box-comment-cus_3 .edit_comment ul li:hover {
  cursor: pointer;
  color: var(--secondary-text);
}
.box-comment-cus_3 .edit_repcomment {
  padding: 10px 0;
  width: 30%;
  text-align: center;
  background: var(--bg-input);
  border-radius: 10px;
}
.box-comment-cus_3 .edit_repcomment ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.box-comment-cus_3 .edit_repcomment ul::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 20%;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--bg-input) transparent transparent;
  width: 0;
  height: 0;
}
.box-comment-cus_3 .edit_repcomment ul li {
  transition: 0.1s;
  margin-bottom: 10px;
  color: var(--primary-text);
}
.box-comment-cus_3 .edit_repcomment ul li:last-child {
  margin-bottom: 0;
}
.box-comment-cus_3 .edit_repcomment ul li:hover {
  cursor: pointer;
  color: var(--secondary-text);
}
.box-comment-cus_3 .edit_repcomment {
  right: 0;
}
.box-comment-cus_3 .edit_repcomment ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.box-comment-cus_3 .edit_repcomment ul::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 20%;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--bg-input) transparent transparent;
  width: 0;
  height: 0;
}
.box-comment-cus_3 .edit_repcomment ul li {
  padding: 0 10px;
  transition: 0.1s;
  margin-bottom: 10px;
}
.box-comment-cus_3 .edit_repcomment ul li:last-child {
  margin: 0;
}
.box-comment-cus_3 .edit_repcomment ul li:hover {
  cursor: pointer;
  color: var(--secondary-text);
}
.box-comment-cus_3 #bottom-cus {
  width: 100%;
  display: flex;
  gap: 10px;
  font-size: 14px;
  margin-left: 64px;
  color: rgba(74, 85, 104, 0.7725490196);
  font-weight: 500;
}

.cus-post-media {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
.cus-post-media .list_item_media img {
  border-radius: 10px;
}
.cus-post-media .list_item_media video {
  max-height: 400px;
}

#MediaDisplay {
  position: fixed;
  z-index: 60;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
#MediaDisplay .imagedisplay_close {
  position: absolute;
  z-index: 60;
  right: 0;
  padding: 0.25rem;
  margin: 0.75rem;
  background-color: #E5E7EB;
  border-radius: 9999px;
  cursor: pointer;
}
#MediaDisplay .media_display {
  display: grid;
  height: 100vh;
  place-items: center;
}
#MediaDisplay .media_display .displ {
  height: 100vh;
  padding: 2.5rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

#CreatePostOverlay {
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#CreatePostOverlay .wrapper_crpost {
  display: grid;
  height: 100vh;
  place-items: center;
  padding: 1rem;
  overflow: auto;
}
#CreatePostOverlay .wrapper_crpost .crpost {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 0.75rem;
  background-color: var(--bg-item);
}
#CreatePostOverlay .wrapper_crpost .crpost .close {
  padding: 0.375rem;
  background-color: var(--bg-item);
  right: 0.75rem;
}
#CreatePostOverlay .wrapper_crpost .crpost .close:hover {
  background-color: var(--bg-input);
}
#CreatePostOverlay .wrapper_crpost .crpost .img-cus {
  margin-left: 0.25rem;
  min-width: 40px;
  max-height: 40px;
}
#CreatePostOverlay .wrapper_crpost .crpost .pri {
  background-color: #edf2f7;
  padding: 0.125rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#CreatePostOverlay .wrapper_crpost .crpost .pri .text-cus {
  padding-left: 0.375rem;
  font-size: 13px;
}
#CreatePostOverlay .wrapper_crpost .crpost .text-ar {
  max-height: 250px;
  overflow-y: auto;
}
#CreatePostOverlay .wrapper_crpost .crpost .text-ar textarea {
  border: none;
  font-size: 22px;
  margin-top: 1rem;
  min-height: 30px;
  color: var(--primary-text);
}
#CreatePostOverlay .wrapper_crpost .crpost .text-ar textarea:focus {
  outline: none;
}
#CreatePostOverlay .wrapper_crpost .crpost .cus-img-dis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#ModalPostOverLay {
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#ModalPostOverLay .wrapper-post-overlay {
  display: grid;
  height: 100vh;
  place-items: center;
  overflow: auto;
}
#ModalPostOverLay .wrapper-post-overlay .cus_postoverlay {
  max-width: 700px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 0.75rem;
  background-color: var(--bg-item);
}
#ModalPostOverLay .wrapper-post-overlay .cus_postoverlay #postOVerLay {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}
#ModalPostOverLay .wrapper-post-overlay .cus_postoverlay #postOVerLay::-webkit-scrollbar-thumb {
  background: var(--bg-item);
  border-radius: 5px;
}

#ProfileUser {
  padding-top: 56px;
}
#ProfileUser .card {
  border: none;
  background: transparent;
}
#ProfileUser .card .card-title {
  color: var(--primary-text);
}
#ProfileUser .card .card-header {
  border: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
#ProfileUser .card .card-header .card-actions a {
  color: var(--secondary-text);
}
#ProfileUser .card .card-header .card-actions .dropdown-menu {
  right: 0;
  left: inherit;
  background: var(--bg-item);
}
#ProfileUser .card .card-header .card-actions .dropdown-menu a:hover {
  background: var(--bg-input);
  color: var(--primary-text);
}
#ProfileUser .card .card-body ul.list-unstyled li {
  color: var(--primary-text);
}
#ProfileUser .card .card-body .media-body {
  color: var(--primary-text);
}
#ProfileUser .card .card-body .media-body small {
  color: var(--secondary-text);
}
#ProfileUser .card .card-body .media-body strong {
  color: var(--primary-text);
}
#ProfileUser #LeftProfile {
  max-height: 100vh;
  overflow-y: auto;
  background: var(--bg-item);
}
#ProfileUser #LeftProfile #CoverImage {
  max-height: 100px;
  height: 100px;
  width: 100%;
  max-width: 100%;
}
#ProfileUser #LeftProfile #CoverImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#ProfileUser #Centerprofile {
  max-height: 100vh;
  overflow: auto;
}
#ProfileUser #RightProfile {
  max-height: 100vh;
  overflow: auto;
  background: var(--bg-item);
}
#ProfileUser #RightProfile .card {
  background: transparent;
  border: none;
}
#ProfileUser #LeftProfile::-webkit-scrollbar {
  display: none;
}
#ProfileUser #Centerprofile::-webkit-scrollbar {
  display: none;
}
#ProfileUser #RightProfile::-webkit-scrollbar {
  display: none;
}
#ProfileUser #LeftProfile::-moz-scrollbar {
  display: none;
}
#ProfileUser #Centerprofile::-moz-scrollbar {
  display: none;
}
#ProfileUser #RightProfile::-moz-scrollbar {
  display: none;
}

#RepositoryLeft {
  max-height: 100vh;
  overflow-y: auto;
  background: var(--bg-item);
}

#RepoParent {
  padding-top: 56px;
}
#RepoParent .left-item {
  color: var(--primary-text);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.375rem;
  font-size: 15px;
  font-weight: 800;
  padding-left: 0.75rem;
}
#RepoParent .left-item:hover {
  background: var(--bg-input);
}

#ChatBox {
  width: 350px;
  max-width: 350px;
  max-height: 450px;
  min-height: 450px;
  position: absolute;
  bottom: 0;
  right: 100px;
  color: var(--primary-text);
  background: var(--bg-item);
  display: flex;
  flex-direction: column;
}
#ChatBox .custom-loading-mess .wrapper {
  width: 20%;
  height: 60px;
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
#ChatBox .custom-loading-mess .circles {
  display: flex;
  align-items: center;
  gap: 5px;
}
#ChatBox .custom-loading-mess .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  transform-origin: 50%;
  animation: circle 0.3s alternate infinite ease;
}
@keyframes circle {
  0% {
    top: 15px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 10px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
#ChatBox .custom-loading-mess .circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.1s;
}
#ChatBox .custom-loading-mess .circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.2s;
}
#ChatBox .custom-loading-mess .shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}
@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
#ChatBox .custom-loading-mess .shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
#ChatBox .custom-loading-mess .shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
#ChatBox .custom-loading-mess .wrapper span {
  position: absolute;
  top: 75px;
  font-family: "Lato";
  font-size: 20px;
  letter-spacing: 12px;
  color: #fff;
  left: 15%;
}
#ChatBox .chat-header {
  padding: 5px 0;
  border-bottom: 1px solid var(--border-collor);
}
#ChatBox .close-mess {
  position: absolute;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 50%;
  right: 10px;
}
#ChatBox .close-mess:hover {
  background: var(--bg-input);
}
#ChatBox .clear-file-mess {
  position: absolute;
  right: 0;
  font-size: 15px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
  top: 0;
  z-index: 1000;
  background-color: var(--bg-input);
}
#ChatBox .user-name {
  font-size: 15px;
  color: var(--primary-text);
  font-weight: 800;
  margin: 0;
}
#ChatBox .chat-body {
  max-height: 400px;
  overflow-y: auto;
  padding-inline: 5px;
}
#ChatBox .chat-body .left-user {
  text-align: start;
}
#ChatBox .chat-body .left-user p {
  width: auto;
  word-wrap: break-word;
  padding: 10px;
  background: var(--bg-input);
  color: var(--primary-text);
  border-radius: 10px;
}
#ChatBox .chat-body .right-user .user-ifo {
  flex-direction: row-reverse;
}
#ChatBox .chat-body .right-user .user-ifo p {
  width: auto;
  padding: 10px;
  background: var(--bg-blue);
  color: var(--primary-text);
  border-radius: 10px;
  float: right;
  text-align: start;
  word-wrap: break-word;
}
#ChatBox .chat-bottom {
  padding-inline: 10px;
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
}
#ChatBox .chat-bottom .file-preview {
  max-width: 120px;
  z-index: 1;
}
#ChatBox .chat-bottom .icon i {
  font-size: 20px;
  color: var(--bg-blue);
}
#ChatBox .chat-bottom form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#ChatBox .chat-bottom form label.lmess {
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}
#ChatBox .chat-bottom form label.lmess:hover {
  background: var(--bg-item);
}
#ChatBox .chat-bottom form .input-icon {
  width: 90%;
  background: var(--bg-input);
  border-radius: 10px;
}
#ChatBox .chat-bottom form textarea {
  width: 90%;
  background: var(--bg-input);
  padding: 10px;
  padding-right: 60px;
  word-break: break-all;
  border: none;
  border-radius: 10px;
  outline: none;
  color: var(--primary-text);
}
#ChatBox .chat-bottom form button.sendmess {
  background: var(--bg-item);
  padding: 5px;
  border-radius: 50%;
}
#ChatBox .chat-bottom form button.sendmess:hover {
  background: var(--bg-input);
}
#ChatBox .chat-bottom form button.sendmess i {
  font-size: 20px;
  color: var(--bg-blue);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e5e9f2;
  border-radius: 0.2rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
}

.card-subtitle,
.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  color: inherit;
}

.card-header:first-child {
  border-radius: calc(0.2rem - 1px) calc(0.2rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border-top: 1px solid #e5e9f2;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.2rem - 1px) calc(0.2rem - 1px);
}

.card-header-tabs {
  margin-bottom: -0.75rem;
  border-bottom: 0;
}

.card-header-pills,
.card-header-tabs {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.2rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.2rem - 1px);
  border-top-right-radius: calc(0.2rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.2rem - 1px);
  border-bottom-left-radius: calc(0.2rem - 1px);
}

.card-deck {
  display: flex;
  flex-direction: column;
}

.card-deck .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-deck {
    flex-flow: row wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
  .card-deck .card {
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    margin-right: 0.75rem;
    margin-bottom: 0;
    margin-left: 0.75rem;
  }
}
.card-group {
  display: flex;
  flex-direction: column;
}

.card-group > .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-group {
    flex-flow: row wrap;
  }
  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:first-child .card-header,
  .card-group > .card:first-child .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group > .card:first-child .card-footer,
  .card-group > .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:last-child .card-header,
  .card-group > .card:last-child .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group > .card:last-child .card-footer,
  .card-group > .card:last-child .card-img-bottom {
    border-bottom-left-radius: 0;
  }
  .card-group > .card:only-child {
    border-radius: 0.2rem;
  }
  .card-group > .card:only-child .card-header,
  .card-group > .card:only-child .card-img-top {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
  }
  .card-group > .card:only-child .card-footer,
  .card-group > .card:only-child .card-img-bottom {
    border-bottom-right-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
  }
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child),
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top {
    border-radius: 0;
  }
}
.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -moz-column-count: 3;
         column-count: 3;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}
.btn-group-sm > .btn,
.btn-sm {
  margin-right: 3px;
}
